* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #111;
  overflow-x: hidden; /* evita scroll horizontal */
}

/* CONTAINER */
.container-prod{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar-prod {
  background-color: #111;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 40px;

  border-bottom: 2px solid #cc0000;
  padding-bottom: 10px;
}

.logo-prod {
  display: flex;
  height: 4vh;
}

.navbar-prod h1 {
  color: #cc0000;
}

/* USER */
.user-prod {
  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
}

.user-prod a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.user-prod a:hover {
  color: #cc0000;
}

/* BANNER */
.banner-prod {
  background-color: #cc0000;
  color: white;

  text-align: center;

  padding: 60px 20px;
}

.banner-prod h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.produtos-prod {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  gap: 12px;

  padding: 40px;

  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
}

.card-prod {
  background-color: white;

  width: min(900px, 95%);
  max-width: 100%;

  height: 6vh;

  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;

  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);

  transition: .2s ease;
}

.card-prod:hover {
  transform: translateY(-2px);
  cursor: pointer;
  background-color: #f8f8f8;
}

/* IMAGEM */
.card-prod img {
  width: 8vh;
  height: 5vh;

  object-fit: contain;

  background-color: #f5f5f5;
  border-radius: 0.5vh;

  flex-shrink: 0;
}

/* TEXTO */
.card-prod h3 {
  flex: 1;
  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: #111;
  padding: 0 10px;
}

/* PREÇO */
.card-prod p {
  white-space: nowrap;
  padding: 0 15px;
  color: #111;
}

/* SELECT */
.card-prod.selected {
  border: 2px solid red;
  box-shadow: 0 0 12px rgba(255,0,0,.25);
  background-color: rgb(204, 204, 204);
}

/* CHECKBOX */
.check-prod {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  padding: 0 10px;
}

.check-prod input {
  display: none;
}

.check-prod span {
  width: 18px;
  height: 18px;
  border: 2px solid #333;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}

.check-prod input:checked + span {
  background: #333;
}

.check-prod input:checked + span::after {
  content: "✓";
  color: white;
  font-size: 14px;
  position: absolute;
  top: -3px;
  left: 2px;
}

/* FOOTER */
.rodape-pag-prod {
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #cc0000;
  height: 70px;
  color: white;

  margin-top: auto;
}

.rodape-pag-prod h3{
  font-size: 1.4rem;
  font-weight: bold;

  color: white;
}

.rodape-pag-prod button {
  box-shadow: 0 2px 8px rgba(0,0,0,.25);

  background-color: #f3f3f3;

  width: 30vh;
  height: 50px;

  border: none;
  border-radius: 10px;

  color: #111;
  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}

.image-prod {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  object-fit: cover;
}